<div class="main-container" *ngIf="airport">
  <div class="title">
    {{ airport.name }}
    <button nbButton [routerLink]="['/admin/airport/edit', airport.id]">Редагувати</button>
  </div>
  <div class="body">
    <agm-map [latitude]="airport.lat" [longitude]="airport.lng" [zoom]="12">
      <agm-polygon *ngFor="let line of linesOnMap" [paths]="line.points"></agm-polygon>
      <agm-marker *ngIf="airport.lat && airport.lng" [animation]="markerCreateAnimation" [latitude]="airport.lat"
        [longitude]="airport.lng"></agm-marker>
    </agm-map>
    <nb-tabset>
      <nb-tab tabTitle="Архіви">
        <button nbButton (click)="fileInput.click()">Вибрати архів</button>
        <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll()" accept=".rar, .zip" />
        <nb-list>
          <nb-list-item *ngFor="let zip of zipList; index as i">
            <span>{{ i + 1 }}. {{ zip.fileName }}</span>
            <div>
              <button nbButton (click)="onUnpack(zip)" [disabled]="zip.isUnpacking" [nbSpinner]="zip.isUnpacking">Розархівувати</button>
              <button class="delete-btn" nbButton [status]="'danger'" (click)="onDeleteZip(zip)" [disabled]="zip.isDeleting" [nbSpinner]="zip.isDeleting">Видалити</button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab tabTitle="Файли">
        <nb-list>
          <nb-list-item *ngFor="let file of files; index as i">
            <span>{{ i + 1 }}. {{ file.fileName }}</span>
            <div>
              <button nbButton (click)="onDecodeFile(file)" [disabled]="file.isDecoded || file.isDecoding" [nbSpinner]="file.isDecoding">Декодувати</button>
              <button class="delete-btn" nbButton [status]="'danger'" (click)="onDeleteFile(file)" [disabled]="file.isDeleting" [nbSpinner]="file.isDeleting">Видалити</button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab tabTitle="Лінії">
        <nb-accordion multi>
          <nb-accordion-item #accordionItem *ngFor="let decodedFile of decodedFiles; index as i">
            <nb-accordion-item-header>
                <span>{{ i + 1 }}. {{ decodedFile.fileName }}</span>
              </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="main-line-item">
                <nb-checkbox [(ngModel)]="decodedFile.isSelect" (change)="toggleFile(decodedFile)">Відобразити всі лінії</nb-checkbox>
                <span>{{ decodedFile.dayNightType == 1 ? 'День' : (decodedFile.dayNightType == 2 ? 'Ніч' : null) }}</span>
                <span>{{ decodedFile.noiseType == 1 ? 'Максимальний шум' : (decodedFile.noiseType == 2 ? 'Еквівалентний шум' : null) }}</span>
                <div>
                  <button nbButton class="mr-3" (click)="onEditFile(decodedFile)" [disabled]="decodedFile.isDeleting || decodedFile.isEditing">Редагувати</button>
                  <button nbButton [status]="'danger'" (click)="onDeleteDecodedFile(decodedFile)" [disabled]="decodedFile.isDeleting || decodedFile.isEditing" [nbSpinner]="decodedFile.isDeleting">Видалити зі списку декодованих</button>
                </div>
              </div>
              <div class="line-item" *ngFor="let line of decodedFile.lines">
                  <nb-checkbox [(ngModel)]="line.isSelect" (change)="toggleLine(line)">Відобразити</nb-checkbox>
                  <span>{{ line.name }} </span>
                  <span class="not-published" [class.is-published]="line.published">{{ line.published ? 'Опубліковано' : 'Не опубліковано' }}</span>
                  <span>Рівень шуму: {{ line.level }}дБ</span>
                  <div>
                    <button class="mr-3" nbButton (click)="onEditLine(line)" [disabled]="line.isDeleting">Редагувати</button>
                    <button nbButton [status]="'danger'" (click)="onDeleteLine(line)" [disabled]="line.isDeleting || line.isEditing" [nbSpinner]="line.isDeleting">Видалити</button>
                  </div>
              </div>
            </nb-accordion-item-body>
  
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
    </nb-tabset>
  </div>
</div>

<ng-template #editLineModal let-line>
  <nb-list class="mb-3">
    <nb-list-item>
      <span class="mr-3">Назва лінії</span>
      <input nbInput type="text" [(ngModel)]="line.name">
    </nb-list-item>
    <nb-list-item>
      <span class="mr-3">Опублікувати</span>
      <nb-toggle [(ngModel)]="line.published"></nb-toggle>
    </nb-list-item>
    <nb-list-item>
      <span class="mr-3">Рівень шуму</span>
      <input nbInput type="number" [(ngModel)]="line.level">
    </nb-list-item>
  </nb-list>
  <div class="d-flex justify-content-center">
    <button nbButton (click)="onSaveLine(line)" [disabled]="lineIsSaving" [nbSpinner]="lineIsSaving">Зберегти</button>
  </div>
</ng-template>

<ng-template #editFileModal let-file>
  <nb-list class="mb-3">
    <nb-list-item>
      <span class="mr-3">Час доби</span>
      <nb-radio-group [(ngModel)]="file.dayNightType" name="dayNightType">
        <nb-radio [value]="1">День</nb-radio>
        <nb-radio [value]="2">Ніч</nb-radio>
      </nb-radio-group>
    </nb-list-item>
    <nb-list-item>
      <span class="mr-3">Рівень шуму файлу</span>
      <nb-radio-group [(ngModel)]="file.noiseType" name="noiseType">
        <nb-radio [value]="1">Максимальний</nb-radio>
        <nb-radio [value]="2">Еквівалентний</nb-radio>
      </nb-radio-group>
    </nb-list-item>
  </nb-list>
  <div class="d-flex justify-content-center">
    <button nbButton (click)="onSaveFile(file)" [disabled]="fileIsSaving" [nbSpinner]="fileIsSaving">Зберегти</button>
  </div>
</ng-template>