[type="file"] {
    display: none;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.zip-name {
    margin-right: 20px;
}

agm-map {
    height: 400px;
    width: 100%;
}

nb-tab {
    max-height: 400px;
}

nb-list-item {
    justify-content: space-between;
}

.delete-btn {
    margin-left: 20px;
}