<div class="container" *ngIf="airport">
    <div class="title">{{ airport.name }}</div>
    <agm-map [latitude]="airport.lat" [longitude]="airport.lng" [zoom]="12">
        <agm-polygon *ngFor="let line of filteredLines" [paths]="line.points"></agm-polygon>
        <agm-marker *ngIf="airport.lat && airport.lng" [animation]="markerCreateAnimation" [latitude]="airport.lat" [longitude]="airport.lng"></agm-marker>
    </agm-map>
    <nb-tabset>
        <nb-tab tabTitle="ZIP-file">
            <button nbButton (click)="fileInput.click()">Select file</button>
            <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll()" />
            <nb-list>
                <nb-list-item *ngFor="let zip of zipList; index as i">
                    <span>{{ i + 1 }}. {{ zip.fileName }}</span>
                    <div>
                        <button nbButton (click)="onUnpack(zip.id)">Unpack</button>
                        <button class="delete-btn" nbButton [status]="'danger'" (click)="onDeleteZip(zip.id)">Delete</button>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Files">
            <nb-list>
                <nb-list-item *ngFor="let file of files; index as i">
                    <span>{{ i + 1 }}. {{ file.fileName }}</span>
                    <div>
                        <button nbButton (click)="onDecodeFile(file)" [disabled]="file.isDecoded">Decode</button>
                        <button class="delete-btn" nbButton [status]="'danger'" (click)="onDeleteFile(file.id)">Delete</button>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Lines">
            <nb-list>
                <nb-list-item>
                    <button nbButton (click)="clearMap()">Clear Map</button>
                </nb-list-item>
                <nb-list-item *ngFor="let decodedFile of decodedFiles; index as i">
                    <div>
                        <span>{{ i + 1 }}. {{ decodedFile.fileName }}</span>
                        <nb-checkbox [(ngModel)]="decodedFile.isSelect" (change)="switchFile(decodedFile)"></nb-checkbox>
                        <nb-list>
                            <nb-list-item *ngFor="let line of decodedFile.lines">
                                <span>{{ line.id }}</span>
                                <nb-checkbox [(ngModel)]="line.isSelect" (change)="switchLine(line)"></nb-checkbox>
                                <button nbButton [status]="'danger'" (click)="onDeleteLine(line.id)">Delete</button>
                            </nb-list-item>
                        </nb-list>
                    </div>
                    <button nbButton [status]="'danger'" (click)="onDeleteDecodedFile(decodedFile.id)">Delete</button>
                </nb-list-item>
            </nb-list>
        </nb-tab>
    </nb-tabset>
</div>
