[type="file"] {
    display: none;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    button {
        position: absolute;
        right: 0;
    }
}

.zip-name {
    margin-right: 20px;
}

agm-map {
    height: 400px;
    width: 100%;
}

nb-tab {
    max-height: 400px;
    padding: 0 10px, 0, 0 !important;
    margin-top: 10px;
}

nb-list-item {
    justify-content: space-between;
}

.delete-btn {
    margin-left: 20px;
}

nb-accordion-item-header {
    justify-content: space-between;
    padding-right: 50px !important;
}

nb-checkbox {
    position: relative;
    top: 2px;
}

.main-line-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.line-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #edf1f7;
    &:last-child {
        padding-bottom: 0;
    }
}

.not-published {
    color: red;
    &.is-published {
        color: green;
    }
}