<nb-layout>
    <nb-layout-column>
        <div class="container">
            <form [formGroup]="form" (ngSubmit)="onLogin()">
                <input nbInput placeholder="Email" type="email" formControlName="email">
                <input nbInput placeholder="Password" type="password" formControlName="password" required>
                <span *ngIf="errorMessage">{{ errorMessage }}</span>
                <button nbButton [disabled]="!form.valid || formInProgress">Увійти</button>
            </form>
        </div>
    </nb-layout-column>
</nb-layout>