@import 'mixins';

* {
  font-family: 'e-Ukraine';
}

label {
  margin-bottom: 0;
}

nb-layout-column {
  padding: 0 !important;
  max-height: 100vh;
}

.container {
  height: calc(100% - 70px);
  display: flex;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.post-wrap {
  background-color: #fff;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  .title {
    width: 48vw;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    line-height: 40px;
  }
  .body {
    width: 45vw;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    font-size: unset;
    border: none;
  }
  .date {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 200;
  }
  .back-to-map {
    z-index: 1;
    cursor: pointer;
    font-weight: 500;
    transition: .4s;
    position: absolute;
    left: 20px;
    top: 25px;
    &:hover {
      color: $primary;
    }
    img {
      display: none;
    }
  }
}

.map-wrap {
  position: relative;
}

.map-wrap, .map, .post-wrap {
  flex: 1;
  height: 100%;
  width : 100%;
}

.noise-control-wrap {
  position: absolute;
  top: 25px;
  right: 23px;
  cursor: pointer;
  width: 65px;
  height: 86px;
  box-shadow: 0px 6px 15px rgba(19, 48, 92, 0.2);
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
  }
  .hight {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FF3564 !important;
    height: 21px;
  }
  .medium {
    background-color: #FC8E75;
    height: 20px;
  }
  .low {
    background-color: #F7D897;
    height: 20px;
  }
  .info {
    color: #5C5C5C;
    background-color: #FAFCFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25px;
  }
}

.scale-button {
  cursor: pointer;
  width: 46px;
  height: 85px;
  position: absolute;
  right: 24px;
  bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(6, 37, 150, 0.08);
  div {
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top {
    &:after {
      content: '';
      position: absolute;
      background-color: #000;
      height: 18px;
      width: 2px;
    }
    &:before {
      content: '';
      background-color: #000;
      width: 18px;
      height: 2px;
    }
  }
  .bottom {
    &:after {
      content: '';
      background-color: #000;
      width: 18px;
      height: 2px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: #F7F7F7;
  }
}

.set-location-wrap {
  cursor: pointer;
  position: absolute;
  bottom: 22px;
  left: 18px;
  padding-left: 22px;
  padding-right: 22px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 16, 156, 0.12);
  border-radius: 25px;
  img {
    margin-right: 10px;
  }
  span {
    font-family: 'e-Ukraine';
    font-size: 15px;
  }
  &.location-is-selected {
    border-radius: 50%;
    width: 50px;
    img {
      margin-right: 0;
    }
    span {
      display: none;
    }
  }
}

.layer-info-wrap {
  position: absolute;
  top: 34px;
  left: 36px;
  display: flex;
  align-items: center;
  span {
    margin-left: 17px;
    font-family: 'e-Ukraine';
    font-size: 14px;
    color: #1F1F1F;
    text-transform: capitalize;
  }
}

@include media-md {
  .container {
    height: calc(100% - 60px);
  }
  .set-location-wrap {
    &.hide-in-mobile {
      display: none;
    }
  }
  .scale-button {
    display: none;
  }
  .post-wrap {
    .title {
      width: 75vw;
    }
    .body {
      width: 70vw;
    }
    .back-to-map {
      position: fixed;
      top: 70px;
      background-color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 15px rgba(0, 16, 156, 0.12);
      span {
        display: none;
      }
      img {
        display: inline;
      }
    }
  }
}

@include media-sm {
  .post-wrap {
    .body {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-xs {
  .layer-info-wrap {
    max-width: 50%;
    img {
      width: 30px;
    }
    span {
      font-size: 13px;
      margin-left: 13px;
    }
  }
  .post-wrap {
      padding-left: 10px;
      padding-right: 10px;
    .body {
      padding-left: 0;
      padding-right: 0;
    }
    .back-to-map {
      left: 10px;
    }
  }
}