@import 'mixins';

* {
  font-family: 'e-Ukraine';
}

label {
  margin-bottom: 0;
}

nb-layout-column {
  padding: 0 !important;
  max-height: 100vh;
}

.container {
  height: calc(100% - 70px);
  display: flex;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.post-wrap {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  .title {
    max-width: 48vw;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    line-height: 40px;
  }
  .body {
    max-width: 45vw;
    padding-left: 20px;
    padding-right: 20px;
    img {
      max-width: 100% !important;
    }
  }
  .date {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 200;
  }
  .back-to-map {
    cursor: pointer;
    font-weight: 500;
    transition: .4s;
    position: absolute;
    left: 20px;
    top: 25px;
    &:hover {
      color: $primary;
    }
    img {
      display: none;
    }
  }
}

.map-wrap {
  position: relative;
}

.map-wrap, .map, .post-wrap {
  flex: 1;
  height: 100%;
  width : 100%;
}

.noise-info-wrap {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  .noise-info-container {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(32, 31, 114, 0.15);
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 41px 30px 30px 30px;
    position: relative;
    .item-wrap {
      width: 25%;
      padding-right: 15px;
      .item {
        cursor: pointer;
        padding: 12px 13px 14px 13px;
        border: 1px solid #F0F4FE;
        border-radius: 14px;
        .top {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          span {
            white-space: pre;
            margin-left: 13px;
            font-weight: 700;
            font-size: 25px;
          }
        }
        .bottom {
          font-weight: 300;
          font-size: 14px;
          text-transform: capitalize;
          text-align: center;
          letter-spacing: 0.035em;
          color: #A5B7E3;
          white-space: pre;
        }
        &.no-data {
          img {
            opacity: .4;
          }
          span {
            opacity: .5;
            font-size: 10px !important;
            font-weight: 500 !important;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .coords {
      position: absolute;
      top: -17px;
      height: 34px;
      background: linear-gradient(72.91deg, #29C2D9 1.4%, #1777FA 52.11%, #ED8FD9 97.48%);
      box-shadow: 0px 4px 10px rgba(31, 27, 79, 0.05);
      border-radius: 19px;
      display: flex;
      align-items: center;
      padding-left: 11px;
      padding-right: 18px;
      color: #fff;
      img {
        margin-right: 38px;
      }
    }
  }
}

.noise-control-wrap {
  position: absolute;
  top: 25px;
  right: 23px;
  cursor: pointer;
  width: 46px;
  height: 86px;
  box-shadow: 0px 6px 15px rgba(19, 48, 92, 0.2);
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
  }
  .hight {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FF3564 !important;
    height: 21px;
  }
  .medium {
    background-color: #FC8E75;
    height: 20px;
  }
  .low {
    background-color: #F7D897;
    height: 20px;
  }
  .info {
    color: #5C5C5C;
    background-color: #FAFCFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25px;
  }
}

.scale-button {
  cursor: pointer;
  width: 46px;
  height: 85px;
  position: absolute;
  right: 24px;
  bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(6, 37, 150, 0.08);
  div {
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top {
    &:after {
      content: '';
      position: absolute;
      background-color: #000;
      height: 18px;
      width: 2px;
    }
    &:before {
      content: '';
      background-color: #000;
      width: 18px;
      height: 2px;
    }
  }
  .bottom {
    &:after {
      content: '';
      background-color: #000;
      width: 18px;
      height: 2px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: #F7F7F7;
  }
}

.set-location-wrap {
  cursor: pointer;
  position: absolute;
  bottom: 22px;
  left: 18px;
  padding-left: 22px;
  padding-right: 22px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 16, 156, 0.12);
  border-radius: 25px;
  img {
    margin-right: 10px;
  }
  span {
    font-family: 'e-Ukraine';
    font-size: 15px;
  }
  &.location-is-selected {
    border-radius: 50%;
    width: 50px;
    img {
      margin-right: 0;
    }
    span {
      display: none;
    }
  }
}

.layer-info-wrap {
  position: absolute;
  top: 34px;
  left: 36px;
  display: flex;
  align-items: center;
  span {
    margin-left: 17px;
    font-family: 'e-Ukraine';
    font-size: 14px;
    color: #1F1F1F;
    text-transform: capitalize;
  }
}

@include media-md {
  .container {
    height: calc(100% - 60px);
  }
  .noise-info-wrap {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    .noise-info-container {
      padding: 40px 22px 0 22px;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      flex-wrap: wrap;
      .item-wrap {
        width: 50%;
        margin-bottom: 20px;
        &:nth-child(2n-1) {
          padding-right: 0;
        }
        .item {
          max-width: 170px;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  .set-location-wrap {
    &.hide-in-mobile {
      display: none;
    }
  }
  .scale-button {
    display: none;
  }
  .post-wrap {
    .title {
      max-width: 75vw;
    }
    .body {
      max-width: 70vw;
    }
    .back-to-map {
      position: fixed;
      top: 70px;
      background-color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 15px rgba(0, 16, 156, 0.12);
      span {
        display: none;
      }
      img {
        display: inline;
      }
    }
  }
}

@include media-sm {
  .post-wrap {
    .body {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-xs {
  .layer-info-wrap {
    max-width: 50%;
    img {
      width: 30px;
    }
    span {
      font-size: 13px;
      margin-left: 13px;
    }
  }
  .noise-info-wrap {
    .noise-info-container {
      padding: 30px 10px 0 10px;
      .item-wrap {
        .item {
          .top {
            img {
              width: 25px;
            }
            span {
              margin-left: 5px;
              font-size: 20px;
            }
          }
          .bottom {
            font-size: 12px;
          }
          &.no-data {
            .top {
              span {
                font-size: 8px;
              }
            }
          }
        }
      }
      .coords {
        img {
          margin-right: 15px;
        }
      }
    }
  }
  .post-wrap {
      padding-left: 10px;
      padding-right: 10px;
    .body {
      padding-left: 0;
      padding-right: 0;
    }
    .back-to-map {
      left: 10px;
    }
  }
}