<nb-layout>
  <nb-layout-column>
    <app-header [searchIsActive]="searchIsActive" [setLocationActive]="setLocationActive" [containerMode]="containerMode" [menuIsOpen]="menuIsOpen" (openMenu)="openMenu()" (closeSidebar)="closeSidebar()" (openSearch)="onSearch()" (searchLocation)="searchLocation($event)" (closeSetLocation)="onSetLocationBtn()"></app-header>
    <div class="container">
      <div class="map-wrap" [hidden]="containerMode != 1">
        <div #gmap class="map"></div>

        <div class="noise-control-wrap" (click)="onNoiseInfo()">
          <div class="hight">75-85 дБА</div>
          <div class="medium">65-75 дБА</div>
          <div class="low">50-65 дБА</div>
          <div class="info">info</div>
        </div>
        <div class="top-left-block">
          <div class="layer-info-wrap" *ngIf="selectedLayerInfo">
            <img src="{{ selectedLayerInfo.src }}">
            <span class="white-shadow-text">{{ selectedLayerInfo.text }}</span>
          </div>
          <div class="kadastr-wrap">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isKadastrLayer" (change)="toggleKadastr()" />
              <span class="toggle"></span>
            </label>
            <span class="toggle-active" [class.is-active]="isKadastrLayer">
              <img src="assets/images/map-icon.svg">
              <span class="white-shadow-text">Кадастрова карта України</span>
            </span>
          </div>
        </div>
        

        <div class="scale-button">
          <div class="top" (click)="zoomIn()"></div>
          <div class="bottom" (click)="zoomOut()"></div>
        </div>

        <div class="set-location-wrap" (click)="onSetLocationBtn()" [class.location-is-selected]="showLocationInfo" [class.hide-in-mobile]="setLocationActive">
          <img src="{{ setLocationActive ? 'assets/images/left-arrow.svg' : 'assets/images/blue-marker.svg' }}">
          <span>{{ setLocationActive ? 'Вийти з Вибору локації' : 'Вибрати локацію' }}</span>
        </div>
      </div>

      <div class="post-wrap" *ngIf="containerMode == 2 && post">
        <div class="back-to-map" [routerLink]="''">
          <img src="assets/images/left-arrow.svg">
          <span>Повернутися до карти</span>
        </div>
        <div class="title">{{ post.title }}</div>
        <div class="body">
          <!-- <div class="ql-editor text" [innerHTML]="post.text"></div> -->

          <p [innerHTML]="post.text"></p>
        </div>
      </div>

      <div class="post-wrap" *ngIf="containerMode == 3 && practice">
        <div class="back-to-map" [routerLink]="''">
          <img src="assets/images/left-arrow.svg">
          <span>Повернутися до карти</span>
        </div>
        <div class="title">{{ practice.title }}</div>
        <div class="body">
          <!-- <div class="ql-editor text" [innerHTML]="post.text"></div> -->

          <p [innerHTML]="practice.text"></p>
          <div class="date">{{ practice.addedDate | date: 'dd.MM.yyyy' }}</div>
        </div>
      </div>

      <app-toast [type]="toastType" *ngIf="toastIsShowed" [@if-opacity]></app-toast>
      <app-sidebar *ngIf="menuIsOpen" [selectedLayer]="selectedLayer" [listItemIsOpen]="listItemIsOpen" (changeMapLayer)="changeMapLayer($event)" 
      (openPost)="openPost($event)" (openPractice)="openPractice($event)"
      ></app-sidebar>
      <app-sidebar-search *ngIf="searchIsActive" [airports]="airports" (onSelectAirport)="onSelectAirport($event)"></app-sidebar-search>
      <app-noise-info *ngIf="showLocationInfo" [markerCoords]="markerCoords" [noiseInfo]="noiseInfo" (changeMapLayer)="changeMapLayer($event)"></app-noise-info>
    </div>
  </nb-layout-column>
</nb-layout>

<app-feedback-modal (showToast)="showToast($event)"></app-feedback-modal>