nb-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    div {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.del-btn {
    margin-left: 20px;
}
