<nb-card>
    <nb-card-header>
        <button nbButton routerLink="/admin/post/add">Добавити новину</button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of posts; let i = index">
                <app-post-item [item]="item" [isFirst]="i === 0" [isLast]="i === posts.length - 1"
                (update)="updateAll()"
                (down)="downItem($event)"
                (up)="upItem($event)"
                (left)="leftItem($event)"
                (right)="rightItem($event)"
            
                 ></app-post-item>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>