@import 'index';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.white-shadow-text {
  text-shadow: rgb(255, 255, 255) 2px 0px 0px,
                rgb(255, 255, 255) 1.75517px 0.958851px 0px,
                rgb(255, 255, 255) 1.0806px 1.68294px 0px,
                rgb(255, 255, 255) 0.141474px 1.99499px 0px,
                rgb(255, 255, 255) -0.832294px 1.81859px 0px,
                rgb(255, 255, 255) -1.60229px 1.19694px 0px,
                rgb(255, 255, 255) -1.97998px 0.28224px 0px,
                rgb(255, 255, 255) -1.87291px -0.701566px 0px,
                rgb(255, 255, 255) -1.30729px -1.5136px 0px,
                rgb(255, 255, 255) -0.421592px -1.95506px 0px,
                rgb(255, 255, 255) 0.567324px -1.91785px 0px,
                rgb(255, 255, 255) 1.41734px -1.41108px 0px, 
                rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.airport-label {
  font-family: 'e-Ukraine';
  font-size: 14px;
  max-width: 150px;
}

.hide-markers {
  display: none;
}

ngx-smart-modal {
  .overlay {
    display: flex;
    align-items: center;
  }
}

.feedback-modal {
  width: 440px;
  box-sizing: border-box;
  padding: 0;
  .nsm-content {
    border-radius: 16px;
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow: hidden;
    .nsm-body {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .body {
        overflow-y: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          width: 0 !important
        }
      }
    }
  }
}

@include media-md {
  .feedback-modal {
    width: 100%;
    height: 100%;
    .nsm-content {
      max-height: unset;
      height: 100%;
      border-radius: unset;
    }
  }
}



quill-view {
  .ql-container {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      .ql-editor {
          padding: 0;
          height: 119px;
          overflow: hidden;
      }
  }
}