<div class="body content-center">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="createMarker($event)">
        <agm-marker *ngIf="airport" [animation]="'DROP'" [latitude]="airport.lat" [longitude]="airport.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    
    <form [formGroup]="form" (ngSubmit)="saveAirport()">
        <div class="form-container">
            <input nbInput type="text" placeholder="Latitude" [value]="airport.lat" disabled>
            <input nbInput type="text" placeholder="Longitude" [value]=airport.lng disabled>
            <input nbInput type="text" formControlName="name" placeholder="Назва аеропорту">
        </div>
        <button nbButton [disabled]="!form.valid || !airport.lat || airport.lat == 0">
            {{ isEdit ? "Змінити аеропорт" : "Добавити аеропорт" }}
        </button>
    </form>
</div>
