<nb-card>
  <nb-card-header>
      <button nbButton routerLink="/admin/airport/add">Добавити аеропорт</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let airport of airports; index as i">
        <div>
          <span>{{ i + 1 }}.</span>
          <a [routerLink]="['/admin/airport', airport.id]"> {{ airport.name }}</a>
        </div>
        <div>
            <button nbButton [routerLink]="['/admin/airport/edit', airport.id]">Редагувати</button>
            <button nbButton [status]="'danger'" class="del-btn" (click)="deleteAirport(airport)">Видалити</button>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>