@import 'mixins';

.post-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  transition: .4s;

  &:hover {
    color: $primary;
  }

}

.sub-items {
    margin-left : 10px;
}
