<nb-card>
    <nb-card-header>
        <input nbInput type="text" placeholder="Заголовок" [(ngModel)]="title">
        <nb-toggle [(ngModel)]="isPublished">Опублікувати</nb-toggle>
    </nb-card-header>
    <nb-card-body>
        <quill-editor placeholder="" format="html" [modules]="editorOptions" [styles]="{'min-height': '400px'}" [(ngModel)]="content" (onEditorCreated)="editorCreated($event)"></quill-editor>
        <button nbButton (click)="onSave()" [disabled]="formInProgress">Зберегти</button>
    </nb-card-body>
</nb-card>