<nb-layout>
    <nb-layout-column>
        <app-header [searchIsActive]="false" [setLocationActive]="false" [containerMode]="2" [menuIsOpen]="menuIsOpen" (openMenu)="openMenu()" (closeSidebar)="closeSidebar()" (openSearch)="onSearch()" (searchLocation)="searchLocation($event)" (closeSetLocation)="onSetLocationBtn()"></app-header>
        <div class="container">
            <ng-container *ngIf="post">
                <div class="post-wrap">
                    <div class="back-to-map" [routerLink]="''">
                    <img src="assets/images/left-arrow.svg">
                    <span>Повернутися до карти</span>
                    </div>
                    <div class="title">{{ post.title }}</div>
                    <div class="body">
                    <div [innerHTML]="post.text | sanitizeHtml"></div>
                    <div class="date">{{ post.addedDate | date: 'dd.MM.yyyy' }}</div>
                    </div>
                </div>
            </ng-container>
            <!-- <app-sidebar></app-sidebar> -->
        </div>
    </nb-layout-column>
</nb-layout>
