@import 'mixins';

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 35px;

  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;

    img {
      width: 120px;
    }
  }

  .right {
    display: flex;
    width: 370px;
    justify-content: flex-end;
    align-items: center;

    & :last-child {
      margin-left: 30px;
    }

    & svg {
      cursor: pointer;

      path,
      rect {
        transition: .4s;
      }

      &:hover {

        path,
        rect {
          fill: $primary !important;
        }
      }
    }
  }

  &.location-opened-mobile {
    .close-location-mobile {
      display: none;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }

  }
}

.search-input {
  width: 100%;
  border: none;
  outline: none;

  &::placeholder {
    color: rgba(0, 0, 0, .15);
    font-size: 14px;
  }
}

@include media-md {
  .header {
    padding-right: 25px;
    padding-left: 20px;
    height: 60px;

    &.search-opened-mobile {
      .logo {
        display: none;
      }

      .right {
        width: 100%;
      }
    }

    &.location-opened-mobile {
      .logo {
        display: none;
      }

      .close-location-mobile {
        display: flex;
      }

      .tooltip-for-set-location {
        display: none;
      }

      .right {
        width: unset;

        .search {
          display: none;
        }
      }
    }
  }
}

@include media-xs {
  .header {
    padding-left: 10px;

    &.location-opened-mobile {
      .close-location-mobile {
        font-size: 13px;
      }
    }
  }
}
