<div class="noise-info-wrap">
  <div class="noise-info-container">
    <div class="coords">
      <img src="assets/images/white-marker-small.svg">
      {{markerCoords.lat}}, {{markerCoords.lng}}
    </div>
    <div *ngFor="let item of noiseInfo; index as i" class="item-wrap">
      <div class="item" [class.no-data]="item.noData" (click)="onChangeMapLayer(i + 1)">
        <div class="top">
          <img src="{{ item.src }}">
          <span class="value">{{ item.value }}<span class="dicibels">дБА</span></span>
        </div>
        <div class="bottom">
          {{ item.text }}
          <div class="info">
            {{ item.info }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>